@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16pt;
	color: #333;
	line-height: 1.5;
}
td,th {
  font-size: 14px;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/* ====================== RWD helpers ====================== */
img, embed, object, video {
  max-width: 100%;
}
nav a, button {
  min-height: 48px;
  min-width: 48px;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 14px;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: orange;
  color: white;
  padding: 8px;
  z-index: 100;
  font-size: 14px;
}
.skip-link:focus {
  top: 0;
}
a.skip-link:focus {
  color: white;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    padding: 30px 0;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  min-height: 100%;
  padding: 20px 0;
  background-color: #3397DB;
  align-items: center;
  text-align: center;
}
.filter-options h3 {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 25px 30px;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #fff;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h2 {
  color: #f16800;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: #0032f1;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .1em;
}

.fav-button {
  color: grey;
  border: none;
  font-size: 200%;
  float: right;
  margin: 9px -12px 0 10px;
}

.is-fav {
  color: red;
}
